

.application {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.header {
  color: var(--c1);
  height: 4em;
  min-height: 4em;
  background-color: var(--c4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 4em 0em 2em;
}

.profileDropDow {
  position: relative;
  width: 2em;
  height: 2em;
  border: 0.1em solid #000;
  border-radius: 100%;
  cursor: pointer;
}

.contentProfileDropDow {
  position: absolute;
  top: 105%;
  left: -50%;
  width: 4em;
  display: flex;
  flex-direction: column;
  z-index: 9005;
}

.btnDropDow {
  width: 100%;
  height: 2em;
  opacity: 0;
  cursor: pointer;
}


.btnDropDow1 {
  position: absolute;
  top: 0em;
  z-index: 9004;  
}

.btnDropDow2 {
  position: absolute;
  top: 0em;
  z-index: 9003;
}

.btnDropDow3 {
  position: absolute;
  top: 0em;
  z-index: 9002;
}

.btnDropDow4 {
  position: absolute;
  top: 0em;
  z-index: 9001;
}

@keyframes openDropDowAnimationBtn1 {
  0%{
    height: 0;
  }
  100%{
    height: 2em;
    opacity: 1;
  }
}

@keyframes openDropDowAnimationBtn2 {
  0%{
    top: 0em;
  }
  100%{
    top: 2em;
    opacity: 1;
  }
  
}
@keyframes openDropDowAnimationBtn3 {
  0%{
    top: 0em;
  }
  100%{
    top: 4em;
    opacity: 1;
  }
}
@keyframes openDropDowAnimationBtn4 {
  0%{
    top: 0em;
  }
  100%{
    top: 6em;
    opacity: 1;
  }
}
@keyframes closeDropDowAnimationBtn1 {
  0%{
    height: 2em;
    opacity: 1;
  }
  40%{
    height: 2em;
    opacity: 1;
  }
  100%{
    height: 0;    
  }
}

@keyframes closeDropDowAnimationBtn2 {
  0%{
    top: 2em;
    opacity: 1;
  }
  32%{
    top: 2em;
    opacity: 1;
  }
  100%{
    top: 0em;
    opacity: 0;
  }
  
}
@keyframes closeDropDowAnimationBtn3 {
  0%{
    top: 4em;
    opacity: 1;
  }
  25%{
    top: 4em;
    opacity: 1;
  }
  100%{
    top: 0em;
    opacity: 0;
  }
}
@keyframes closeDropDowAnimationBtn4 {
  0%{
    top: 6em;
    opacity: 1;
  }
  100%{
    top: 4em;
    opacity: 0;
  }
}