:root {
  --lef-position: -15em;
}

.calendar {
  position: fixed;
  top: 6em;
  left: var(--lef-position);
  z-index: 3;
  background-color: var(--c4);
  width: 17em;
  height: 25em;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 1em;
  border-radius: 0 0.5em 0.5em 0; 
}

.calendar:hover {
  animation: expande 2s ease forwards;
}

.calendar:not(:hover){  
  animation: shrinks 2s ease;
}

.calendar:not(:hover) .arrowCalendar{
  animation: arrowOpenClose 1s ease forwards;
}

.calendar:hover .arrowCalendar{
  animation: arrowCloseOpen 1s ease forwards;
}

@keyframes arrowOpenClose {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes arrowCloseOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes expande {
  0% {
    left: var(--lef-position);
  }
  100% {
    left: 0em;
  }
}

@keyframes shrinks {
  0% {
    left: 0;
  }
  100% {
    left: var(--lef-position);
  }
}

.arrowCalendar {
  position: absolute;
  margin-right: 0.5em;
  right: 0;
  top: 45%;
  display: flex;
}



.titleCalendar {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

