.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.headerHomePage {
  text-align: center;
}

.bodyHomePage {
  display: flex;
  flex-direction: row;
}

.titleAndResume h1 {
  font-size: 2.5em;
}

.btn {  
  border-radius: 0.5em;
  font-size: medium;
  cursor: pointer;
  width: 12em;
  height: 3em;
  margin: 1em 1em 0 0;
}


.checklistImg {
  width: 30em;
}

.leftSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 4em;
}




.ps {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.ps svg {
  margin-right: 0.5em;
}

.ps:hover svg {
  scale: 1.2;
}

.btnLogin {
  color: #ffffff;
  background-color: rgb(5, 95, 231);
  border: none;
}

.btnLogin:hover {
  background-color: #054099;
  outline: 0.05em solid #054099;
}

.btnRegister {
  color: #000;
  border: 0.05em solid #2a2c2b;
}

.btnRegister:hover {
  outline: 0.05em solid #2a2c2b;
}

