.minCalendar {
  background-color: #000000;
  color: #f0f8ff;
  width: 12rem;
  height: 10rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.week {
  display: grid;  
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.week span {
  text-align: center;
}
.numbers {
  display: grid;  
  height: 10rem;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  grid-template-rows: 16% 16% 16% 16% 16% 16% 16%;
  padding-left: 1%;
  padding-top: 2%;
  z-index: 1;
}

.numbers span {
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 10%;
  font-size: small;
  width: 100%;
  height: 120%;
}

.numbersSpan:hover {
  background-color: #0821ad;
  cursor: pointer;
  font-weight: bolder;
}

.monthYear {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectYear, .selectMonth {
  display: flex;
  align-items: center;
}

.selectors:hover {
  cursor: pointer;
}