:root {
  --c1: #E8F1F2;
  --c2: #d9dcdf;
  --c3: #23353d;
  --c4: #7a7f85;
  --c5: #4c4f52;
  --c6: #3aa309; 
}


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10em;  
}

body {
  background-color: var(--c2);
}

.header {
  color: var(--c1);
  height: 4em;
  margin-bottom: 2em;
  background-color: var(--c4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em 0em 2em;
}