:root {
  --background--ligth: rgb(212, 212, 212);
  --background--dark: #555454;
  --c1: #E8F1F2;
  --c2: #d9dcdf;
  --c3: #23353d;
  --c4: #7a7f85;
  --c5: #4c4f52;
  --c6: #3aa309; 
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background--color);
}

body::-webkit-scrollbar {
  width: 0.8em;               
}

body::-webkit-scrollbar-track {
  background: #313131;        
}

body::-webkit-scrollbar-thumb {
  background-color: #030303;   
  border-radius: 20px;       
}