.task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: #ceceed;
  margin-top: 10px; 
  opacity: 0.9; 
}

.task:hover {
  opacity: 1;
}
 
.options {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 8rem;
  height: min-content;
  right: 0;
  top: 0;
  margin-top: 1%;
  margin-right: 1%;
}

.buttonTrash, .buttonInfo, .buttonCheck, .buttonUndo {  
  margin-left: 6%;
  border-radius: 15%;
}

.buttonInfo, .buttonCheck, .buttonUndo { 
  width: 24px;
  height: 24px;
}

.buttonTrash {
  border: 2px solid #090909;
  width: 20px;
  height: 20px;
}

.buttonTrash:hover, .buttonInfo:hover, .buttonCheck:hover, .buttonUndo:hover {
  cursor: pointer;  
  fill: #ffffff;
}

.buttonTrash:hover {
  background-color: #ff0000;
  border: 2px solid #f6f4f4;
}

.buttonCheck:hover {
  background-color: #008000;
}

.buttonUndo:hover {
  background-color: #c57c1d;
}

.buttonInfo:hover {
  background-color: #1912a7;  
}

.descriptionTask {
  text-align: center;
}

.infos{
  opacity: 0;
  position: absolute;
  width: 10rem;
  top: 120%;
  left: 4%;
  background-color: #1f1f1f;
  border-radius: 5px;
}

.infos p {
  text-align: center;
  color: #f6f4f4;
  font-size: small;
}

.square {
  position: absolute;
  top: -8px;
  left: 45%;
  width: 16px;
  height: 16px;
  background-color: #1f1f1f;
  transform: rotate(45deg);
}

.buttonInfo:hover ~ .infos {
  animation: infoVisible 1s; 
  opacity: 1; 
}


@keyframes infoVisible {  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes infoInvisible {  
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } 
}