:root {
  --background--ligth: #d4d4d4;
  --background--dark: #252525e1;
  --black: #000;
  --white: #fff;
  --c1: #E8F1F2;
  --c2: #d9dcdf;
  --c3: #23353d;
  --c4: #7a7f85;
  --c5: #4c4f52;
  --c6: #3aa309; 
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  transition: background-color  1s ease;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background--color);
}

body::-webkit-scrollbar {
  width: 0.8em;               
}

body::-webkit-scrollbar-track {
  background: #313131;        
}

body::-webkit-scrollbar-thumb {
  background-color: #030303;   
  border-radius: 20px;       
}