.modalConfirm {
  position: absolute;
  width: 40%;
  color: var(--c1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1em 0.5em 0.5em 0.5em;
  border-radius: 0.3em;
  background-color: var(--c5);
  z-index: 2;
  animation: visible 1s ease;
}


.descriptionModal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btsModalConfirm {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btCancel, .btConfirm {
  color: var(--c1);
  background-color: #252525;
  border: none;
  border-radius: 0.3em;
  padding: 0.3em;
}

.btCancel:hover, .btConfirm:hover {
  cursor: pointer;
  background-color: #444242;
  outline: 0.1em solid #ffffff;
}


@keyframes visible {  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

@keyframes invisible { 
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } 
}