.schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;  
}

.btAdd, .btRemove, .btSave, .btSelectorDeadline {  
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background-color: var(--color-bt);
  border-radius: 15%;   
}

.btSave:hover, .btSelectorDeadline:hover {
  background-color: #158038;  
  cursor: pointer;  
  fill: #ffffff;  
}

.btSelectorDeadline{
  margin: 1em;
}

.btNewTask {
  position: relative;
  left: -50%;
  transform: translateX(50%);
  width: fit-content;
  border-radius: 0.3em;
}

.addTask {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: #ceceed;
  margin-top: 5em; 
  opacity: 0.9; 
  animation: expand 0.3s ease;
}

@keyframes expand {
  0%{
    scale: 30%;
  }  
  100%{
    scale: 100%;
  }
}



.inputs{
  display: flex;
  align-items: center;
  height: 2em;
  width: 50%;
  background-color: #ffffff;
  
}

.inputDescriptionNewTask {
  width: 100%;
  padding-left: 1em;
  border-radius: 2em;
}

.inputDeadlineNewTask{
  position: relative;  
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.addTask input{
  border: none;
  outline: none;
}

.selectorDeadline {
  position: absolute;
  top: 115%;
  left: 15%;
}

.square {
  border-radius: 25% 0 150% 0;
  background-color: #252525;
  z-index: 0;
}

