.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;  
}

.buttonAdd, .buttonRemove, .buttonSave, .buttonSelectorDeadline {
  position: relative;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 15%;
}

.buttonSave:hover, .buttonSelectorDeadline:hover {
  background-color: #158038;  
  cursor: pointer;  
  fill: #ffffff;  
}

.buttonSelectorDeadline{
  margin: 1em;
}

.buttonAdd:hover {
  background-color: #1912a7;  
  cursor: pointer;  
  fill: #ffffff;
}

.buttonRemove:hover {
  background-color: #dd1717;  
  cursor: pointer;  
  fill: #ffffff;
}

.addTask {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: #ceceed;
  margin-top: 10px; 
  opacity: 0.9; 
  animation: expand 0.3s ease;
}

@keyframes expand {
  0%{
    scale: 30%;
  }  
  100%{
    scale: 100%;
  }
}

.buttonSave {
  margin: 1%;
  position: absolute;
  top: 0;
}

.inputs{
  display: flex;
  align-items: center;
  height: 2em;
  width: 50%;
  background-color: #ffffff;
  
}

.inputDescriptionNewTask {
  width: 100%;
  padding-left: 1em;
}

.inputDeadlineNewTask{
  position: relative;  
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.addTask input{
  border: none;
  outline: none;
}

.selectorDeadline {
  position: absolute;
  top: 115%;
  left: 15%;
}

.square {
  border-radius: 25% 0 150% 0;
  background-color: #040404;
  z-index: 0;
}

